<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DBMS_PROJECT_HOTEL_MANAGEMENT_SYSTEM.Properties.Settings.ProjectDBConnectionString"
            connectionString="Data Source=DESKTOP-G8CP3NV\SQLEXPRESS;Initial Catalog=ProjectDB;Integrated Security=True;Encrypt=False"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>